<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
                        <button type="button" class="btn btn-danger" style="margin-left: 10px;"
                            (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                        <span *ngIf="recipeForm.get('name').hasError('required') && recipeForm.get('name').touched"
                            class='help-block' style="color: red;">
                            Please enter the recipe name</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                        <span
                            *ngIf="recipeForm.get('imagePath').hasError('required') && recipeForm.get('imagePath').touched"
                            class='help-block' style="color: red;">
                            Please select an image path</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img [src]="imagePath.value" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" rows="6"
                            formControlName="description"></textarea>
                        <span
                            *ngIf="recipeForm.get('description').hasError('required') && recipeForm.get('description').touched"
                            class='help-block' style="color: red;">
                            Please enter the recipe description</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">

                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" formControlName="amount">

                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" (click)="onDeleteIngredient(i)">x</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" type="button" style="margin-top: 10px;"
                                (click)="onAddNewIngredient()">Add
                                New Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
